<head>
    <link rel="stylesheet" href="/css/_footer.css">
</head>

<footer id="layout-footer">
    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    Codieal <a href="/">Home</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <p>
           Developed by Mohd Aman
        </p>
    </div>

    
</footer>