<header>
    page header

    <ul>
        <%if(locals.user){%>
        <li><a href="/users/logout-user">logout</a></li> 
        <%}else{%>
            <li><a href="/users/user-signin">sign in</a></li>
            <li><a href="/users/user-signup">sign up</a></li>
        <%}%>
    </ul>
</header>