<head>
    <link rel="stylesheet" href="/css/_header.css">
</head>
<header>
    <div id="header-container">
        <h2>Codieal</h2>
        <div class="options-container">
            <%if(locals.user){%>
                <a href="/"><i class="fa-solid fa-house"></i></a>
                <a href="/users/profile/<%=locals.user.id%>"><i class="fa-solid fa-user"></i></a>
                <a href="/users/logout-user"><i class="fa-solid fa-right-from-bracket"></i></a> 
            <%}else{%>
                <a href="/users/user-signin">sign-in</a>
                <a href="/users/user-signup">sign up</a>
            <%}%>
        </div>
            
    </div>
    
</header>