<div>
    <form action="/users/reset-password/?accessToken=<%=resetUser.accessToken%>" method="post" id="resetPassword-form">
        <input type="password" name="password"/>
        <input type="password" name="re_password"/>
        <input type="submit" value="Submit" id="resetPassword-submit"/>
    </form>
</div>

<!-- custom js script -->

<script src="/js/mailers/reset_Password.js"></script>