body{
    background-color: lightgray;
}

#home-container{
    display: flex;
    padding-top: 6em;
    padding-bottom: 3em;
    margin-left: 30%;
    .create-post{
        margin-top: 3em;
        #text-content{
            border-radius: 10px;
            background-color: rgb(244, 233, 233);
            border: 2px solid black;
            padding: .8em;
            resize: none;
            margin-bottom: 1em;
        }
        
        #post-form{
            input{
                background-color: rgb(58, 58, 118);
                color: white;
                cursor: pointer;
                width:5.5em;
                height: 2em;
                border-radius: 10px;
                border:none;
                &:hover{
                    background-color: red;
                }
            }
        }
        
    }
    .users-container{
        text-transform: uppercase;
        margin-left: 15%;
        right: 6em;
        position: fixed;
        padding: 2em;
        border-left:2px solid gray;
        height: 100%;

        h1{
            border-bottom: 2px solid grey;
        }

        li{
            margin-bottom: .5em;
        }
    }
}

@media screen and  (max-width: 900px) {
    #home-container{
        margin-left: 5%;
    }
}