#home-container{
    display: flex;
    .create-post{
        margin-left: 10%;
        margin-top: 3em;
        #text-content{
            border-radius: 10px;
            border: 2px solid lightgray;
            padding: .8em;
            resize: none;
            margin-bottom: 1em;
        }
        
        #post-form{
            input{
                background-color: rgb(58, 58, 118);
                color: white;
                cursor: pointer;
                width:5.5em;
                height: 2em;
                border-radius: 10px;
                border:none;
                &:hover{
                    background-color: red;
                }
            }
        }
        
    }
    .users-container{
        margin-left: 15%;
        padding: 2em;
        border-left:2px solid lightgray
    }
}