body{
    background-color: grey;
}

.signin-container{
    padding: 1em;
    text-align: center;
    margin-top: 10em;
    margin-left: 35%;
    border: 3px solid lightgray;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    h1{
        margin-bottom: 1em;
    }

    .signin-form{
        margin-bottom: 1em;

        input{
            height: 3em;
                width: 200px;
                border-radius: 10px;
                border: 2px solid lightgray;
                padding-left: .5em;
                margin-bottom: .8em;
        }

        input[type='submit']{
            background-color: rgb(58, 58, 118);
                color: white;
                cursor: pointer;
                width:4em;
                height: 2em;
                padding-left: .1em;
                border-radius: 10px;
                border:none;
                &:hover{
                    background-color: red;
                }
        }

    }

    .google-login{
        margin-bottom: 1em;
        font-size: 25px ;
         
    }
}

@media screen and  (max-width: 900px) {
    .signin-container{
        margin-left: 25%;
    }
}


