<div>
    <h1>mail recieved!</h1>
    <h2><%=resetUser.user.name%></h2>
    <h2><%=resetUser.user.email%></h2>
    <br>
    <p>To reset your password click the link below: </p>
    <a href="http://localhost:3000/users/reset-password-page/?accessToken=<%=resetUser.accessToken%>">Reset Password</a>
</div>
