* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Open Sans', sans-serif; }
  body i:hover {
    color: red; }
  body #layout-main {
    height: 100%;
    overflow: auto; }

.text-center {
  text-align: center; }
